<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <img src="~/img/hero-carousel/hero-carousel-1.svg" class="img-fluid animated">
        <h2>PROMOTE YOUR VIDEO TO <span>MILLIONS</span></h2>
        <p>Get more YouTube views on your videos. Start your campaign with $10 and get seen.</p>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
    </div>
</section>