<!-- ======= Call To Action Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-out">

        <div class="row g-5">

            <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                <h3 style="text-align:center">WHERE WILL YOUR VIDEO <em>BE SEEN</em></h3>
                <p> At Viewsir, we focus on quality, not quantity. We show your video to people who are most passionate about discovering you. Your video will be displayed within social networks, blogs, websites, games, and mobile apps.</p>
                <a class="cta-btn align-self-start" href="#">Call To Action</a>
            </div>

            <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                <div class="img">
                    <img src="~/img/cta.jpg" alt="" class="img-fluid">
                </div>
            </div>

        </div>

    </div>
</section><!-- End Call To Action Section -->