<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
    <div class="container">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
            <h2><span><em>HOW IT WORKS<em></span></h2>
        </div>
        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-code-slash icon"></i></div>
                    <h4><a href="" class="stretched-link">START YOUR CAMPAIGN</a></h4>
                    <p>Sign up and search for your video. Choose budget and target audience. Done!</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-bar-chart-line icon"></i></div>
                    <h4><a href="" class="stretched-link">GET SEEN</a></h4>
                    <p>Distribute your YouTube video through our trusted publisher network of blogs, websites, apps and social networks.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-pencil icon"></i></div>
                    <h4><a href="" class="stretched-link">GAIN POPULARITY</a></h4>
                    <p>Right people discover your video. Gain popularity and monitor real time results.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                    <h4><a href="" class="stretched-link">Grow</a></h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
</section><!-- End Featured Services Section -->